<div class="bottom-menu">

  <div class="circle-left">
    <%= render "garden_users/lvlup_plant", user: @user %>
  </div>

  <div class="plant-lvl-center">
    <div>
      <%= render 'dashboard_partials/xpbar'%>
      <%= render 'dashboard_partials/user_plant_info'%>
    </div>
    <div id="water">
      <%= render 'dashboard_partials/water'%>
    </div>
  </div>
  <div class="ground">
    <%= render 'dashboard_partials/user_plant' %>
  </div>

  <div class="circle-right">
    <div class="last-completed-tasks">
     <%= render 'dashboard_partials/completedTasks.html' %>
    </div>
  </div>
</div>
