<div class="container">
  <div class="row">
    <% @garden_users.each do |garden_user| %>
      <% @users.each do |user| %>
        <% if garden_user.user_id == user.id && garden_user.garden_id == @garden.id %>
          <div class="col-sm", style="border-style: solid;">
            <br>
            <h2><%= "#{user.first_name} #{user.last_name}" %></h2>
            <br>
            <p><%= "XP: #{user.exp}" %></p>
            <% if user.exp >= 0 && user.exp < 350 %>
              <p>Kind: Bean</p>
            <% elsif user.exp >= 300 && user.exp < 600 %>
              <p>Kind: Tomato</p>
            <% end %>
            <p><%= "Kind: #{user.seed_kind}" %></p>
            <% if user.status == 0 %>
              <p>Status: dead</p>
            <% elsif user.status == 1 %>
              <p>Status: alive</p>
            <% else %>
              <p>Status: thirsty</p>
            <% end %>
            <br>
            <%= render "garden_users/lvlup_plant", user: user %>
            <img src=<%= user.plant_url %> alt="seed_kind" width="150" height="150">
            <img src=<%= user.avatar_url %> alt="avatar" width="150" height="150">
            <br>
            <br>
            <h2> Recent Completed Tasks</h2>
            <br>
            <% if user.tasks == [] %>
              <p><%= "#{user.first_name} has no completed tasks" %></p>
            <% end %>
            <% @completed_tasks.each do |completed_task| %>
              <% if completed_task.status == true && completed_task.user_id == user.id && garden_user.garden_id == @garden.id %>
                <h6><strong><%= "#{completed_task.task.title} - #{completed_task.updated_at.strftime("%d %B, %Y | %I:%M %p")}" %></strong></h6>
                <p><%= completed_task.task.description %></p>
              <% end %>
            <% end %>
            <br>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
