<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://img.favpng.com/8/4/11/logo-seed-company-png-favpng-q2c5sTUR6Eyw5Js4VyT8522qF.jpg" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <a class="nav-link" href="#"> Create a new garden </a>
          </li>
           <li class="nav-item active">
            <a class="nav-link" href="#"> Join garden </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Add a friend </a>
          </li>
          <li class="nav-item dropdown">
            <%= link_to "Garden list",  "#", class: "nav-link dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% @gardens.each do |garden| %>
                <% garden.garden_users.each do |garden_user| %>
                  <% if garden_user.user_id == current_user.id %>
                    <%= link_to garden.name, dashboard_path(garden_id: garden.id), class: "dropdown-item" %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </li>

          <li class="nav-item dropdown">
            <%= image_tag current_user.avatar_url, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
