<<<<<<< HEAD
<div class="main-container">
  <div>
    <%= render 'garden_users/index' %>
  </div>
  <div>
    <%= render 'select_tasks/index' %>
  </div>

  <div>
    <%= render 'shared/bottom_menu' %>
  </div>

  <div>
    <%= render 'shared/users_garden_list' %>
  </div>
=======
<div>
  <%= render 'dashboard_partials/userInfo' %>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm", style="border-style: solid;">
      <%= render 'dashboard_partials/selectedTasks.html' %>
    </div>
    <div class="col-sm", style="border-style: solid;">
      <%= render 'dashboard_partials/completedTasks.html' %>
    </div>
    <div class="col-sm", style="border-style: solid;">
      <%= render 'dashboard_partials/gardenMembers.html' %>
    </div>
  </div>
</div>
<div>
  <%= render 'shared/bottom_menu' %>
>>>>>>> 08352cc8e0a724b8767ff0aa7dd3ac7417a124cd
</div>
