<div class="main-container">

  <div class="windows-container">
      <div>
        <%= render 'shared/users_garden_list' %>
      </div>
      <div>
        <%= render 'dashboard_partials/selectedTasks.html' %>
      </div>

  </div>


  <div>
    <%= render 'dashboard_partials/user_plant' %>
  </div>

  <%# <div class="container">
    <div class="row">
      <div class="col-sm", style="border-style: solid;">
        <%= render 'dashboard_partials/selectedTasks.html' %>
      <%# <div class="col-sm", style="border-style: solid;">
        <%= render 'dashboard_partials/gardenMembers.html' %>
      <%# </div> %>
    <%#</div>
  </div> %>


  <div>
    <%= render 'shared/bottom_menu' %>
  </div>
</div>
