<div class="container">
  <div class="row">
    <% @garden_users.each do |garden_user| %>
      <% @users.each do |user| %>
        <% if garden_user.user_id == user.id %>
          <div class="col-sm">
            <br>
            <li><%= "Name: #{user.first_name} #{user.last_name}" %></li>
            <br>
            <p><%= "XP: #{user.exp}" %></p>
            <p><%= "Type: #{user.seed_kind}" %></p>
            <p><%= "Status: #{user.status}" %></p>
            <img src=<%= user.seed_kind %> alt="seed_kind" width="150" height="150">
            <img src=<%= user.avatar_url %> alt="avatar" width="150" height="150">
            <br>
            <br>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
