<ul>
  <% @garden_users.each do |garden_user| %>
    <% @users.each do |user| %>
      <% if garden_user.user_id == user.id %>
        <br>
        <li><%= "Name: #{user.first_name} #{user.last_name}" %></li>
        <br>
        <p><%= "XP: #{user.exp}" %></p>
        <p><%= "Type: #{user.seed_kind}" %></p>
        <p><%= "Status: #{user.status}" %></p>
        <img src=<%= user.avatar_url %> alt="avatar" width="150" height="150">
        <br>
        <br>
      <% end %>
    <% end %>
  <% end %>
</ul>
